
<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Ajouter Produit</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Produit</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nouveau Produit</h5>

            <!-- General Form Elements -->
            <form>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Reference</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Marque</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" style="height: 100px"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Famille</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option value="1">LÈVRES</option>
                    <option value="2">YEUX</option>
                    <option value="3">TEINT</option>
                    <option value="4">CHEVEUX</option>
                    <option value="5">ONGLES</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Categorie</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option value="1">ROUGE À LÈVRES</option>
                    <option value="2">MASCARA</option>
                    <option value="3">SHAMPOING</option>
                    <option value="4">FARD À JOUES</option>
                    <option value="5">VERNIS À ONGLES</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Prix</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>


    </div>
  </section>

</main><!-- End #main#main -->


<app-backfooter></app-backfooter>

