<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Afichage Produits</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Produits</a></li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tableau de tout les produits</h5>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reference</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Marque</th>
                  <th scope="col">Description</th>
                  <th scope="col">Famille</th>
                  <th scope="col">Categorie</th>
                  <th scope="col">Prix</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>fe124578</td>
                  <td>LIPSTICK</td>
                  <td>CATRICE</td>
                  <td>Une formule légère et longue tenue, pour des lèvres mates aux couleurs éclatantes. La formule innovante du nouveau Vegan Collagen Matt Lipstick fond pratiquement sur les lèvres.</td>
                  <td>LÈVRES</td>
                  <td>ROUGE À LÈVRES</td>
                  <td>18,900</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Re124578</td>
                  <td>LASH PRINCESS</td>
                  <td>ESSENCE</td>
                  <td>Vous rêvez de cils parfaitement recourbés et incroyablement volumineux ? Le mascara Essence Lash Princess vous offre un tel résultat. Sa brosse en forme de tête de cobra, plus large au centre et plus étroite à son extrémité, souligne vos cils dans les coins interne et externe de l’œil. </td>
                  <td>YEUX</td>
                  <td>MASCARA</td>
                  <td>13,900</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>CS124578</td>
                  <td>PRO LONGER</td>
                  <td>L'OREAL</td>
                  <td>Shampooing rénovateur de longueurs pour cheveux longs.  </td>
                  <td>CHEVEUX</td>
                  <td>SHAMPOING</td>
                  <td>35,900</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>TR124578</td>
                  <td>CATRICE ICONAILS"</td>
                  <td>CATRICE</td>
                  <td>Cette formulation de vernis à ongles innovante assure une brillance gel parfaite et une tenue maximale sur les ongles. Grâce à la technologie GLOSS SEAL’RTM, les vernis présentent une haute brillance spectaculaire. </td>
                  <td>ONGLES</td>
                  <td>VERNIS À ONGLES</td>
                  <td>9,900</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>QA124578</td>
                  <td>BLUSH RECHARGE</td>
                  <td>ARTDECO</td>
                  <td>Les fards à joues sont disponibles dans un très large choix de teintes et peuvent être combinés individuellement. Ils offrent des couleurs brillantes, ont une très bonne tenue et une texture agréable pour une application douce.</td>
                  <td>TEINT</td>
                  <td>FARD À JOUES</td>
                  <td>18,900</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>fe124578</td>
                  <td>LIPSTICK</td>
                  <td>CATRICE</td>
                  <td>Une formule légère et longue tenue, pour des lèvres mates aux couleurs éclatantes. La formule innovante du nouveau Vegan Collagen Matt Lipstick fond pratiquement sur les lèvres.</td>
                  <td>LÈVRES</td>
                  <td>ROUGE À LÈVRES</td>
                  <td>18,900</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Re124578</td>
                  <td>LASH PRINCESS</td>
                  <td>ESSENCE</td>
                  <td>Vous rêvez de cils parfaitement recourbés et incroyablement volumineux ? Le mascara Essence Lash Princess vous offre un tel résultat. Sa brosse en forme de tête de cobra, plus large au centre et plus étroite à son extrémité, souligne vos cils dans les coins interne et externe de l’œil. </td>
                  <td>YEUX</td>
                  <td>MASCARA</td>
                  <td>13,900</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>CS124578</td>
                  <td>PRO LONGER</td>
                  <td>L'OREAL</td>
                  <td>Shampooing rénovateur de longueurs pour cheveux longs.  </td>
                  <td>CHEVEUX</td>
                  <td>SHAMPOING</td>
                  <td>35,900</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>TR124578</td>
                  <td>CATRICE ICONAILS"</td>
                  <td>CATRICE</td>
                  <td>Cette formulation de vernis à ongles innovante assure une brillance gel parfaite et une tenue maximale sur les ongles. Grâce à la technologie GLOSS SEAL’RTM, les vernis présentent une haute brillance spectaculaire. </td>
                  <td>ONGLES</td>
                  <td>VERNIS À ONGLES</td>
                  <td>9,900</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>QA124578</td>
                  <td>BLUSH RECHARGE</td>
                  <td>ARTDECO</td>
                  <td>Les fards à joues sont disponibles dans un très large choix de teintes et peuvent être combinés individuellement. Ils offrent des couleurs brillantes, ont une très bonne tenue et une texture agréable pour une application douce.</td>
                  <td>TEINT</td>
                  <td>FARD À JOUES</td>
                  <td>18,900</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>



      </div>


    </div>
  </section>






</main><!-- End #main -->





<app-backfooter></app-backfooter>
