<app-header></app-header>

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">

			<div class="site-pagination">
				<a href="">Acceuil</a>
				<a href="Votre Compte">Votre Compte</a>
                <h4 class="text">HISTORIQUE DE VOS COMMANDES</h4>
                <h1 class="paragraphe">Vous trouverez ici vos commandes passées depuis la création de votre compte</h1>
			</div>

		</div>

	</div>
	<!-- Page info end -->

    <!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">

						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Référence</th>
									<th class="quy-th">Date</th>
									<th class="size-th">Prix total</th>
									<th class="total-th">État</th>
								</tr>
							</thead>
							<tbody>
								<tr>

									<td class="size-col"><h4>147ab8</h4></td>
									<td class="size-col"><h4>04/11/2022</h4></td>
									<td class="total-col"><h4>138.00DT</h4></td>
                                    <td class="total-col"><h4>En cours</h4></td>
                                    <td class="pos"><a routerLink="/detailsHistorique" class="site-btn">Détails</a></td>
									<td class="pos"><a routerLink="/reclamation" class="site-btn sb-dark">Réclamer</a>
								</tr>



							</tbody>
						</table>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- cart section end -->

<app-footer></app-footer>
