<app-header></app-header>


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Votre Panier</h4>
			<div class="site-pagination">
				<a routerLink="">Acceuil</a> /
				<a href="panier" >Votre Panier</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Votre Panier</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Produit</th>
									<th class="quy-th">Quantité</th>
									<th class="total-th">Prix</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="product-col">
										<img src="assets/img/cart/100.png" alt="">
										<div class="pc-title">
											<h4>ROUGE FIDELE</h4>
											<p>50.00DT</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input type="text" value="1">
											</div>
                    					</div>
									</td>

									<td class="total-col"><h4>50.00DT</h4></td>

									<td class="pos">
										<button class="btn">Supprimer</button>
									</td>

								</tr>
								<tr>
									<td class="product-col">
										<img src="assets/img/cart/200.jpg" alt="">
										<div class="pc-title">
											<h4>L'oréal - Accord Parfait Fluide </h4>
											<p>72.00DT</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input type="text" value="1">
											</div>
                    					</div>
									</td>

									<td class="total-col"><h4>72.00DT</h4></td>

									<td class="pos">
										<button class="btn">Supprimer</button>
									</td>
								</tr>
								<tr>
									<td class="product-col">
										<img src="assets/img/cart/300.jpg" alt="">
										<div class="pc-title">
											<h4>Essence Beauty Mascara</h4>
											<p>16.00DT</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input type="text" value="1">
											</div>
                    					</div>
									</td>

									<td class="total-col"><h4>16.00DT</h4></td>

									<td class="pos">
										<button class="btn">Supprimer</button>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>138.00DT</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">

					<a href="livraison" class="site-btn">Passer à la caisse</a>
					<a routerLink="" class="site-btn sb-dark">Continuez vos achats</a>
					<button class="site-btn sb-dark">Vider La Panier</button>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>CONTINUER MES ACHATS</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="assets/img/product/5.jpg" alt="">
							<div class="pi-links">

								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>55.00DT</h6>
							<p>Cherry My Chéri, la nouvelle palette de l'Oréal</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="assets/img/product/6.jpg" alt="">
							<div class="pi-links">

								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$15.00DT</h6>
							<p>CAPRICE Nail Polish</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="assets/img/product/7.jpg" alt="">
							<div class="pi-links">

								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>15.00DT</h6>
							<p>CAPRICE Nail Polish</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="assets/img/product/8.jpg" alt="">
							<div class="pi-links">

								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>62.00DT</h6>
							<p>Bourjois Fond de teint Ivoire rosé </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<app-footer></app-footer>
