<app-header></app-header>


<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>CAtegory PAge</h4>
    <div class="site-pagination">
      <a href="">Home</a> /
      <a href="">Shop</a> /
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="filter-widget">
          <h2 class="fw-title">Categories</h2>
          <ul class="category-menu">
            <li><a href="#">Yeux</a>
              <ul class="sub-menu">
                <li><a href="#">Palette Yeux <span>(2)</span></a></li>
                <li><a href="#">Crayon yeux<span>(56)</span></a></li>
                <li><a href="#">Mascaras<span>(36)</span></a></li>
                <li><a href="#">Eyeliner <span>(27)</span></a></li>
                <li><a href="#">Fard à paupières<span>(19)</span></a></li>
              </ul>
            </li>
            <li><a href="#">lèvresr</a>
              <ul class="sub-menu">
                <li><a href="#">MCrayon a levre <span>(2)</span></a></li>
                <li><a href="#">Rouge à lèvres<span>(56)</span></a></li>
                <li><a href="#">Rouge à lèvres liquide<span>(36)</span></a></li>
              </ul></li>
            <li><a href="#">Teinte</a></li>
            <li><a href="#">Soin Visage</a></li>
            <li><a href="#">Soins des pieds </a></li>
            <li><a href="#">Parfum</a></li>
          </ul>
        </div>

        <div class="filter-widget mb-0">
          <h2 class="fw-title">COULEUR PAR</h2>
          <div class="fw-color-choose">
            <div class="cs-item">
              <input type="radio" name="cs" id="gray-color">
              <label class="cs-gray" for="gray-color">
                <span>(3)</span>
              </label>
            </div>
            <div class="cs-item">
              <input type="radio" name="cs" id="orange-color">
              <label class="cs-orange" for="orange-color">
                <span>(25)</span>
              </label>
            </div>
            <div class="cs-item">
              <input type="radio" name="cs" id="yollow-color">
              <label class="cs-yollow" for="yollow-color">
                <span>(112)</span>
              </label>
            </div>
            <div class="cs-item">
              <input type="radio" name="cs" id="green-color">
              <label class="cs-green" for="green-color">
                <span>(75)</span>
              </label>
            </div>
            <div class="cs-item">
              <input type="radio" name="cs" id="purple-color">
              <label class="cs-purple" for="purple-color">
                <span>(9)</span>
              </label>
            </div>
            <div class="cs-item">
              <input type="radio" name="cs" id="blue-color" checked="">
              <label class="cs-blue" for="blue-color">
                <span>(29)</span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter-widget">
          <h2 class="fw-title">
            MARQUE</h2>
          <ul class="category-menu">
            <li><a href="#">Loréal <span>(2)</span></a></li>
            <li><a href="#">Caprice<span>(56)</span></a></li>
            <li><a href="#">Bourgeois<span>(36)</span></a></li>
            <li><a href="#">SVR<span>(27)</span></a></li>
            <li><a href="#">Essence<span>(19)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">ON SALE</div>
                <img src="assets/img/product/c1.jpg" alt="" routerLink="/singelProduct">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>44,900 TND</h6>
                <p>REVOLUTION LOVE</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c9.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>25,300 TND</h6>
                <p>REVOLUTION NEWTRALS</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c6.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>37,900 TND</h6>
                <p>ESSENCE PALETTE DISNEY CLASSICS</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c7.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>44,900 TND</h6>
                <p>REVOLUTION PALETTE FRIENDS</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c5.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>37,900 TND</h6>
                <p>ESSENCE EDITION LIMITÉE</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c4.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>48,900 TND</h6>
                <p>REVOLUTION GODDESS</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c3.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>42,900 TND</h6>
                <p>CHOCOLATE TURKISH</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c2.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>42,900 TND</h6>
                <p>CHOCOLATE ROSE GOLD</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c1.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>44,900 TND</h6>
                <p>REVOLUTION LOVE</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-new">new</div>
                <img src="assets/img/product/c9.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>34,900 TND</h6>
                <p>PALETTE CONIC FEVER</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c8.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>48,900 TND</h6>
                <p>PALETTE SOPHYX EXTRA SPICE</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="assets/img/product/c4.jpg" alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Acheter</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>48,900 TND</h6>
                <p>PALETTE RACHEL LEARY GODDESS</p>
              </div>
            </div>
          </div>
          <div class="text-center w-100 pt-3">
            <button class="site-btn sb-line sb-dark">CHARGER PLUS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category section end -->
<app-footer></app-footer>
