<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Détails Commande</h1>
    <nav>
      <ol class="breadcrumb">
  <li class="breadcrumb-item">Commande N°1 </li>

  

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
           

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">IdProduit</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Marque</th>
                  <th scope="col">Description</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Quantité</th>
                

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1478</th>
                  <td>Rouge à lèvres</td>
                  <td>Catrice</td>
                  <td>le rouge Fidel de Caprice nourris, hydrate et n’assèche pas les lèvres. Vos lèvres seront douces et lisse</td>
               
                  <td>50.00</td>
                  <td>1</td>
                </tr>
                
                <tr>
                  <th scope="row">1236</th>
                  <td>Fond De Teint </td>
                  <td>L'oréal</td>
                  <td>Obtenez une hydratation instantanée qui dure jusqu’à 72 heures. Hydratez votre peau à 200 %.
                    avec Finition resplendissante, Couvrance légère à moyenne,Résiste à l’humidité et à la sueur,Protection SPF30. </td>
                    <td>72.00</td>
                  
                    <td>1</td>
                  </tr>
                    
                     
                    
                  
                


                <tr>
                  <th scope="row">1785</th>
                  <td>Mascara</td>
                  <td>Essence</td>
                  <td> pour encore plus de volume ! la texture crémeuse d’un noir profond enveloppe bien chaque cil et la brosse en plastique extra grande donne un volume spectaculaire</td>
                 
                  <td>16.00</td>
                  <td>1</td>
                </tr>
                  

                  
                

              </tbody>
            </table>
            <td class=""><a routerLink="/listeCommandes" class="btn btn-primary rounded-pill">Retour</a></td>
            <!-- End Table with stripped rows -->

          </div>
        </div>



      </div>


    </div>
  </section>

</main><!-- End #main -->





<app-backfooter></app-backfooter>