<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Modifier Fournisseur</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Fournisseurs</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Modifier Fournisseur</h5>

            <!-- General Form Elements -->
            <form  [formGroup]="updateForm">
             <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  formControlName="nom" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Adresse</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"formControlName="adresse" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Numero Telephone </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="telephone" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" formControlName="email" required>
                </div>
              </div>


              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"   (click)="onUpdate()"  *ngIf="getId">
                  <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>


    </div>
  </section>

</main><!-- End #main#main -->


<app-backfooter></app-backfooter>
