<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Afichage Fournisseur</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Fournisseurs</a></li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tableau de tout les Fournisseurs</h5>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Adresse</th>
                  <th scope="col">Numero Telephone</th>
                  <th scope="col">Email</th>

                </tr>
              </thead>
              <tbody>

                <tr  *ngFor="let f of list; let i = index">
                  <th scope="row">{{f.id}}</th>
                  <td>{{f.nom}}</td>
                  <td>{{f.adresse}}</td>
                  <td>{{f.telephone}}</td>
                  <td>{{f.email}}</td>
                  <td><button type="button" class="btn btn-success"  [routerLink]=" ['/updateFourniseur',f.id] ">
                    <i class="bi bi-pen"></i></button></td>
                  <td><button type="button" class="btn btn-danger"  (click)="delete(f.id,i)"><i class="bi bi-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows  -->

          </div>
        </div>



      </div>


    </div>
  </section>

</main><!-- End #main -->





<app-backfooter></app-backfooter>
