<app-backnavbar></app-backnavbar>
<app-backsidebar></app-backsidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Afichage Fournisseur</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Fournisseurs</a></li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tableau de tout les Fournisseurs</h5>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Adresse</th>
                  <th scope="col">Email</th>
                  <th scope="col">Numero Telephone</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Hajer Ferjani </td>
                  <td>12 rue basatine Bardo</td>
                  <td>hajer@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Marwa</td>
                  <td>12 rue basatine Ariana</td>
                  <td>marwa@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mohamed</td>
                  <td>16 rue basatine Manzah</td>
                  <td>mohamed@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Sarra</td>
                  <td>25 rue basatine lac2</td>
                  <td>sarra@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Azize</td>
                  <td>12 rue basatine Manouba</td>
                  <td>azize@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Yassine</td>
                  <td>75 rue basatine Bardo</td>
                  <td>yassine@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Mahmoud</td>
                  <td>12 rue basatine Manzah 5</td>
                  <td>mahmoud@gmail.com</td>
                  <td>21655447788</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Salah</td>
                  <td>3 rue basatine Bardo</td>
                  <td>salah@gmail.com</td>
                  <td>21655447788</td>
                </tr>

              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>



      </div>


    </div>
  </section>

</main><!-- End #main -->





<app-backfooter></app-backfooter>
