<!DOCTYPE html>
<html lang="zxx">

<body  >

	<app-header></app-header>

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4 >Votre compte</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="/profile" >votre compte</a>
			</div>
		</div>
	</div>

<div class="container">
	<section class="cart-section spad" >
		<div class="container">
			<div class="row">
				<div class="col">
				  <div class="cart-table"   >
				  <div class="cart-table-warp">
					<table>
						<thead>
						<tr>
                         <th>
                         <a routerLink="/historiqueCommandes" class="site-btn sb-dark"> <i class="bi bi-calendar2-check"></i>&nbsp; &nbsp;Historique et détails de commandes</a>
                         </th>
                        </tr>
                        <tr>
						 <th>
						<a routerLink="/historique-rec"  class="site-btn sb-dark"> <i class="bi bi-calendar2-check"></i>&nbsp; &nbsp;Historique de Réclammation</a>
						 </th>
						</tr>
					    <tr>
						 <th><a routerLink="/infoperso" class="site-btn sb-dark"><i class="bi bi-person-circle"></i>&nbsp;INFORMATIONS</a></th>
						</tr>

						</thead>

						</table>
						 </div>
							<div class="total-cost">
								<form class="promo-code-form" >
									<input type="text"  id="dec">
										<button  class="bi bi-person" >&nbsp;DECONNEXION</button>
									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		</div>

	<!-- Page info end -->


	<!-- cart section end -->

	<!-- cart section end -->








	<app-footer></app-footer>
	</body>
</html>
