
<app-header></app-header>


<!-- Page info -->
<div class="page-top-info">
    <div class="container">

        <div class="site-pagination">
            <a href="">Acceuil</a> /
            <a href="panier">Votre Compte</a>
            <h4 class="text">Détails de votre Commande</h4>
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Votre Commande</h3>
                    <div class="cart-table-warp">
                        <table>
                        <thead>
                            <tr>
                                <th class="product-th">Produit</th>
                                <th class="quy-th">Quantité</th>
                                <th class="total-th">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-col">
                                    <img src="assets/img/cart/100.png" alt="">
                                    <div class="pc-title">
                                        <h4>ROUGE FIDELE</h4>

                                    </div>
                                </td>
                                <td class="quy-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>

                                <td class="total-col"><h4>50.00DT</h4></td>



                            </tr>
                            <tr>
                                <td class="product-col">
                                    <img src="assets/img/cart/200.jpg" alt="">
                                    <div class="pc-title">
                                        <h4>L'oréal - Accord Parfait Fluide </h4>

                                    </div>
                                </td>
                                <td class="quy-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>

                                <td class="total-col"><h4>72.00DT</h4></td>


                            </tr>
                            <tr>
                                <td class="product-col">
                                    <img src="assets/img/cart/300.jpg" alt="">
                                    <div class="pc-title">
                                        <h4>Essence Beauty Mascara</h4>

                                    </div>
                                </td>
                                <td class="quy-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>

                                <td class="total-col"><h4>16.00DT</h4></td>


                            </tr>
                        </tbody>
                    </table>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 card-right">

                <a href="historiqueCommandes" class="site-btn">Retour</a>
                <a routerLink="" class="site-btn sb-dark">Page d'acceuil</a>

            </div>
        </div>
    </div>
</section>
<!-- cart section end -->























<app-footer></app-footer>
