.h5{
    text-align: center;
   
  }
  
  .cart-table h3 {
      font-weight: 700;
      margin-bottom: 37px;
  }
  
  .card-title{
    position: absolute;
    top:0%;
    margin-left: 30px;
  
  }
  
  
  
  .button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  
  .btn{
  
    display: inline-block;
      border: none;
      font-size: 14px;
      font-weight: 600;
      min-width: 167px;
      padding: 18px 47px 14px;
      border-radius: 50px;
      text-transform: uppercase;
      background: #1f1d1d;
      color: rgb(204, 198, 198);
      line-height: normal;
      cursor: pointer;
      text-align: center;
  
  
  
  }
  
  .pos{
    padding-left: 50px;
  }