<!DOCTYPE html>
<html lang="en">

<app-header></app-header>

<body>
    <!-- Page info -->
  <div class="page-top-info">
    <div class="container">
      <h4 >Votre compte</h4>
      <div class="site-pagination">
        <a href="">Acceuil</a> /
        <a href="/profile" >votre compte</a>
      </div>
    </div>
  </div>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3">

                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4"  id="btntitle">CRÉEZ VOTRE COMPTE </h5>
                    <p class="text-center small">Entrez vos informations  pour créer un compte</p>

                  </div>
            <div class="col-12">

                    <form class="contact-form">
                        <input type="text" placeholder="nom">
                        <input type="text" placeholder="prenom" >
                        <input type="date" class="form-control" >
                        <input type="number" placeholder="Téléphone" >
                        <input type="text" placeholder="Ville" >
                        <input type="text" placeholder="adresse" >
                        <input type="text" placeholder="Email" >
                        <input type="password" name="password" class="form-control" id="yourPassword" placeholder="Mot de passe" required>
                        <div class="col-12">
                        <button class="site-btn" id="btncolor">ENREGISTRER</button><br> <br>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0">Vous avez déjà un compte? <a routerLink="/connexion" id="btntitle">Connexion</a></p>
                          </div>
                    </form>
                </div>
            </div>
              </div>
